body {
  background-color: #252839;
}

.wrapper {
  background-color: #677077;
  color: #b5b5b7;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-left: 15px;
  padding-bottom: 15px;
  border: 1px solid #f2b632;
}

input {
  margin-bottom: 10px;
}

.answer {
  color: #f2b632;
}